<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Indigo.crea.ar</title>
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/team.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet">
	<link href="../css/footer.css" rel="stylesheet">
	<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

	<script src="	https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css	"></script>
	<script src=" 	https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js		"></script>
	<script src="	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css "></script>
	<script src="		https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
	
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script src="dist/bs-custom-file-input.js"></script>
<link href="../css/style.css" rel="stylesheet">
<link rel="stylesheet"
	href="../adminlte-3.0.4/plugins/font-awesome-5.11.1/css/all.css">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
	rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="../js/jquery.min.js"></script>


</head>

<body>

	<div th:insert="layout/header :: nav"></div>

	<div class='main'>

		<section id="team">
			<div class="container">
				<div class="section-header">
					<h3>Equipo</h3>
					<p>Conoce nuestro equipo</p>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
						<div class="member"> <img src="https://firebasestorage.googleapis.com/v0/b/egg-prod-api.appspot.com/o/users%2FtIokCxLxOFeRYnglRQXm0uTsv6f2%2Fndrzda-profile-image.jpg?alt=media&token=28c47505-bc44-430d-9371-b26c6d902b17" class="img-fluid" alt="">
							<div class="member-info">
								<div class="member-info-content">
									<h4>Daniel Silva</h4> <span>Lider</span>
									<div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i
												class="fa fa-facebook"></i></a> <a href=""><i
												class="fa fa-google-plus"></i></a> <a href=""><i
												class="fa fa-linkedin"></i></a> </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s"
						style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
						<div class="member"> <img src="https://firebasestorage.googleapis.com/v0/b/egg-prod-api.appspot.com/o/users%2FZbj1CtV1rpb6xwLcwPcl2LnAev22%2F93ofcj-profile-image.jpg?alt=media&token=31856759-9d00-4d1c-896f-b853392d2e8c" class="img-fluid" alt="">
							<div class="member-info">
								<div class="member-info-content">
									<h4>Brenda Covacevich</h4> <span>Front-End</span>
									<div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i
												class="fa fa-facebook"></i></a> <a href=""><i
												class="fa fa-google-plus"></i></a> <a href=""><i
												class="fa fa-linkedin"></i></a> </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s"
						style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
						<div class="member"> <img src="https://firebasestorage.googleapis.com/v0/b/egg-prod-api.appspot.com/o/users%2FHzXZk8oI5CPHO0lOn7PisiQ2eTJ2%2Fou50u2-profile-image.jpg?alt=media&token=c34eec2d-97b9-4f08-86d3-87c01f736100" class="img-fluid" alt="">
							<div class="member-info">
								<div class="member-info-content">
									<h4>Mariano Amigo</h4> <span>Front-End</span>
									<div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i
												class="fa fa-facebook"></i></a> <a href=""><i
												class="fa fa-google-plus"></i></a> <a href=""><i
												class="fa fa-linkedin"></i></a> </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s"
						style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
						<div class="member"> <img src="https://firebasestorage.googleapis.com/v0/b/egg-prod-api.appspot.com/o/users%2FUJiiT9Kvvwgp34FPZwIFvmsh7Jx1%2Fvvih61-profile-image.jpg?alt=media&token=a0a217b7-a7e6-443e-8bd4-4a40999f3f85" class="img-fluid" alt="">
							<div class="member-info">
								<div class="member-info-content">
									<h4>Nicolas Simonetti</h4> <span>Back-End</span>
									<div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i
												class="fa fa-facebook"></i></a> <a href=""><i
												class="fa fa-google-plus"></i></a> <a href=""><i
												class="fa fa-linkedin"></i></a> </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
						<div class="member"> <img src="https://firebasestorage.googleapis.com/v0/b/egg-prod-api.appspot.com/o/users%2F3GkeIAEMYHRFrYkSfHNhOntrISC2%2F3d9tnp-profile-image.jpg?alt=media&token=bef52f38-bc07-4bd9-86b6-89fe4f34284c" class="img-fluid" alt="">
							<div class="member-info">
								<div class="member-info-content">
									<h4>Agustin Albonico</h4> <span>Front-End</span>
									<div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i
												class="fa fa-facebook"></i></a> <a href=""><i
												class="fa fa-google-plus"></i></a> <a href=""><i
												class="fa fa-linkedin"></i></a> </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
						<div class="member"> <img src="../Images/lu.jpeg" class="img-fluid" alt="">
							<div class="member-info">
								<div class="member-info-content">
									<h4>Lucila Scarafia</h4> <span>Front-End</span>
									<div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i
												class="fa fa-facebook"></i></a> <a href=""><i
												class="fa fa-google-plus"></i></a> <a href=""><i
												class="fa fa-linkedin"></i></a> </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s"
						style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
						<div class="member"> <img src="https://firebasestorage.googleapis.com/v0/b/egg-prod-api.appspot.com/o/users%2F9jFTKgmG9TPIUUEKfPtoSGvIkFN2%2Fg9so8s-profile-image.jpg?alt=media&token=314f5a5b-9286-4e2f-93e0-b87a113a2d5f" class="img-fluid" alt="">
							<div class="member-info">
								<div class="member-info-content">
									<h4>Diego Roman</h4> <span>Front-End</span>
									<div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i
												class="fa fa-facebook"></i></a> <a href=""><i
												class="fa fa-google-plus"></i></a> <a href=""><i
												class="fa fa-linkedin"></i></a> </div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s"
						style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
						<div class="member"> <img src="https://firebasestorage.googleapis.com/v0/b/egg-prod-api.appspot.com/o/users%2FVniMoHvKVMVFK4qxGrGPn2CPgjA2%2Fdr9yte-profile-image.jpg?alt=media&token=2e467075-156b-4a7a-83ae-fe1bdf012321" class="img-fluid" alt="">
							<div class="member-info">
								<div class="member-info-content">
									<h4>Rodrigo Gil</h4> <span>Back-End</span>
									<div class="social"> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i
												class="fa fa-facebook"></i></a> <a href=""><i
												class="fa fa-google-plus"></i></a> <a href=""><i
												class="fa fa-linkedin"></i></a> </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>


	<div th:insert="layout/footer :: footer"></div>

</body>

</html>